.app_start .Footer {
    display: -webkit-inline-box;
    background-color: sandybrown;
    width: 100%;
    height: 5vh;
    /* padding: 18px; */
}

.Footer > a {
    padding-right: 24px;
    background-color: sandybrown;
}